@model EmployeeTrackingSystem.Models.EmailModel
@{
    ViewBag.Title = "Email";
}

<table>
    <tr>
        <th><h2><img src="~/images/ACElogo.jpg" alt="ACE" height="40" />@ViewData["Title"]</h2></th>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Email Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                Eric Williams
            </td>
            <td>ewilliams@ace.com</td>
            <td> expiration notification sent</td>
            <td> @Html.ActionLink("View","Open")</td>
        </tr>
        <tr>
            <td>
                Brenda Car
            </td>
            <td>bcar@ace.com</td>
            <td>7 day notification sent</td>
            <td>  @Html.ActionLink("View", "Open")</td>
        </tr>
        <tr>
            <td>
                Jeremy Smith
            </td>
            <td>jsmith@ace.com</td>
            <td>14 day notification sent</td>
            <td>  @Html.ActionLink("View", "Open")</td>
        </tr>
        <tr>
            <td>
                John Clark
            </td>
            <td>jclark@ace.com</td>
            <td>30 day notification sent</td>
            <td>  @Html.ActionLink("View", "Open")</td>
            <td></td>
        </tr>
    </tbody>
</table>

