@model IEnumerable<EmployeeTrackingSystem.Models.Employee>
@{
    ViewData["Title"] = "Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <th><h2><img src="~/images/ACElogo.jpg" alt="ACE" height="40" />@ViewData["Title"]</h2></th>
    </tr>
</table>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @*if Certification is Expired*@
            @if (((item.DCFHippaEndDate - DateTime.Now).TotalDays <= 0))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>DCF Hippa has Expired</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            else if ((item.DCFHippaEndDate - DateTime.Now).TotalDays <= 60)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>DCF Hippa expires in @((item.DCFHippaEndDate - DateTime.Now).Days) days</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            @if (((item.VehicleRegistrationEndDate - DateTime.Now).TotalDays <= 0))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>Vehicle Registration has Expired</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            else if ((item.VehicleRegistrationEndDate - DateTime.Now).TotalDays <= 60)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>Vehicle Registration expires in @((item.VehicleRegistrationEndDate - DateTime.Now).Days) days</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            @if (((item.VehicleInsuranceCardEndDate - DateTime.Now).TotalDays <= 0))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>Vehicle Insurance Card has Expired</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            else if ((item.VehicleInsuranceCardEndDate - DateTime.Now).TotalDays <= 60)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>Vehicle Insurance Card expires in @((item.VehicleInsuranceCardEndDate - DateTime.Now).Days) days</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            @if (((item.YearlyEvaluationEndDate - DateTime.Now).TotalDays <= 0))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>Yearly Evaluation has Expired</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            else if ((item.YearlyEvaluationEndDate - DateTime.Now).TotalDays <= 60)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>Yearly Evaluation expires in @((item.YearlyEvaluationEndDate - DateTime.Now).Days) days</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            @if (((item.TargetCaseManagmentEndDate - DateTime.Now).TotalDays <= 0))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>Target Case Managment has Expired</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            else if ((item.TargetCaseManagmentEndDate - DateTime.Now).TotalDays <= 60)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>Target Case Managment expires in @((item.TargetCaseManagmentEndDate - DateTime.Now).Days) days</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            @if (((item.AffidavitOfGoodMoralCharacterEndDate - DateTime.Now).TotalDays <= 0))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>Affidavit Of Good Moral Character has Expired</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            else if ((item.AffidavitOfGoodMoralCharacterEndDate - DateTime.Now).TotalDays <= 60)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>Affidavit Of Good Moral Character expires in @((item.AffidavitOfGoodMoralCharacterEndDate - DateTime.Now).Days) days</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            @if (((item.FDLEBGSEndDate - DateTime.Now).TotalDays <= 0))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>FDLE-BGS has Expired</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            else if ((item.FDLEBGSEndDate - DateTime.Now).TotalDays <= 60)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>FDLE-BGS expires in @((item.FDLEBGSEndDate - DateTime.Now).Days) days</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            @if (((item.JSOLocalBGSEndDate - DateTime.Now).TotalDays <= 0))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>JSO Local BGS has Expired</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            else if ((item.JSOLocalBGSEndDate - DateTime.Now).TotalDays <= 60)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <font><strong>JSO Local BGS expires in @((item.JSOLocalBGSEndDate - DateTime.Now).Days) days</strong></font>
                    </td>
                    <td>
                        <a asp-action="Open" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
            //That is not how the below certifications work
            @*@if ((item.CBHT && (((item.ClinicalCompetenceEndDate - DateTime.Now).TotalDays <= 0) || ((item.ClientPersonalSafetyEndDate - DateTime.Now).TotalDays <= 0) || ((item.PatientConfidentialityEndDate - DateTime.Now).TotalDays <= 0) || ((item.EthicalProfessionalEndDate - DateTime.Now).TotalDays <= 0) || ((item.ElectivesEndDate - DateTime.Now).TotalDays <= 0))))
            {
                <td>
                    <font><strong>CBHT has Expired</strong></font>
                </td>
            }
            @if (((item.APDSupportedLiving || item.APDSupportedEmployement) && (((item.ZeroToleranceEndDate - DateTime.Now).TotalDays <= 0) || ((item.DCCCEndDate - DateTime.Now).TotalDays <= 0) || ((item.FirstAidEndDate - DateTime.Now).TotalDays <= 0) || ((item.APDHIPAAEndDate - DateTime.Now).TotalDays <= 0) || ((item.CPREndDate - DateTime.Now).TotalDays <= 0) || ((item.HIVAIDSEndDate - DateTime.Now).TotalDays <= 0))))
            {
                <td>
                    <font><strong>APDSupported Living has Expired</strong></font>
                </td>
            }
            @if ((item.APDSupportedLiving && (((item.SocialSecurityEndDate - DateTime.Now).TotalDays <= 0) || ((item.InServiceTrainingEndDate - DateTime.Now).TotalDays <= 0))))
            {
                <td>
                    <font><strong>APDSupported Living has Expired</strong></font>
                </td>
            }
            @if ((item.APDSupportedEmployement && (((item.RelatedToEmploymentEndDate - DateTime.Now).TotalDays <= 0) || ((item.MedicationAdministrationEndDate - DateTime.Now).TotalDays <= 0) || ((item.ReactiveStrategiesEndDate - DateTime.Now).TotalDays <= 0))))
            {
                <td>
                    <font><strong>APDSupported Employement has Expired</strong></font>
                </td>
            }*@
        }
    </tbody>
</table>