@model EmployeeTrackingSystem.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiredCerts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiredCerts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LicenseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
        @if (Model.RequiredCerts != null)
        {
            if (Model.RequiredCerts.Contains("1"))
            {
                <dt>
                    Certification Type
                </dt>
                <dd>
                    Cert 1
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cert1StartDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cert1StartDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cert1EndDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cert1EndDate)
                </dd>
            }
            if (Model.RequiredCerts.Contains("2"))
            {
                <dt>
                    Certification Type
                </dt>
                <dd>
                    Cert 2
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cert2StartDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cert2StartDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cert2EndDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cert2EndDate)
                </dd>
            }
            if (Model.RequiredCerts.Contains("3"))
            {
                <dt>
                    Certification Type
                </dt>
                <dd>
                    Cert 3
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cert3StartDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cert3StartDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cert3EndDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cert3EndDate)
                </dd>
            }
        }
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> @Html.Raw("|")
    }
    <a asp-action="Index">Back to List</a>
</div>
