@model IEnumerable<EmployeeTrackingSystem.Models.Employee>

@{
    ViewData["Title"] = "Employee Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        /* basic positioning */
        .legend { list-style: none; }
        .legend li { float: left; margin-right: 10px; }
        .legend span { border: 1px solid #ccc; float: left; width: 16px; height: 16px; margin: 2px; }
        /* your colors */
        .legend .good { background-color: #00FF00; }
        .legend .lessthan30 { background-color: #FFFF00; }
        .legend .lessthan14 { background-color: #FFC500; }
        .legend .lessthan7 { background-color: #FF6500; }
        .legend .expired { background-color: #FF0000; }
    </style>
</head>
     
<h2><img src="~/images/ACElogo.jpg" alt="ACE" height="40" />@ViewData["Title"]</h2>
     @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
     {
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
     }
     
<ul class="legend">
    <li><span class="good"></span> Good</li>
    <li><span class="lessthan30"></span> Less than 30 days</li>
    <li><span class="lessthan14"></span> Less than 14 days</li>
    <li><span class="lessthan7"></span> Less than 7 days</li>
    <li><span class="expired"></span> Expired</li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
   @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @if (((item.DCFHippaEndDate - DateTime.Now).TotalDays <= 0) || ((item.VehicleRegistrationEndDate - DateTime.Now).TotalDays <= 0) || ((item.VehicleInsuranceCardEndDate - DateTime.Now).TotalDays <= 0) || ((item.YearlyEvaluationEndDate - DateTime.Now).TotalDays <= 0) || ((item.TargetCaseManagmentEndDate - DateTime.Now).TotalDays <= 0) || ((item.AffidavitOfGoodMoralCharacterEndDate - DateTime.Now).TotalDays <= 0) || ((item.FDLEBGSEndDate - DateTime.Now).TotalDays <= 0) || ((item.JSOLocalBGSEndDate - DateTime.Now).TotalDays <= 0))
            {
                <td bgcolor="#FF0000">
                    <font color="#FFFFFF"><strong>Expired</strong></font>
                </td>
            }
            else if (((item.DCFHippaEndDate - DateTime.Now).TotalDays <= 7) || ((item.VehicleRegistrationEndDate - DateTime.Now).TotalDays <= 7) || ((item.VehicleInsuranceCardEndDate - DateTime.Now).TotalDays <= 7) || ((item.YearlyEvaluationEndDate - DateTime.Now).TotalDays <= 7) || ((item.TargetCaseManagmentEndDate - DateTime.Now).TotalDays <= 7) || ((item.AffidavitOfGoodMoralCharacterEndDate - DateTime.Now).TotalDays <= 7) || ((item.FDLEBGSEndDate - DateTime.Now).TotalDays <= 7) || ((item.JSOLocalBGSEndDate - DateTime.Now).TotalDays <= 7))
            {
            <td bgcolor="#FF6500">
                <strong>Less than 7 days</strong>
            </td>
            }
            else if (((item.DCFHippaEndDate - DateTime.Now).TotalDays <= 14) || ((item.VehicleRegistrationEndDate - DateTime.Now).TotalDays <= 14) || ((item.VehicleInsuranceCardEndDate - DateTime.Now).TotalDays <= 14) || ((item.YearlyEvaluationEndDate - DateTime.Now).TotalDays <= 14) || ((item.TargetCaseManagmentEndDate - DateTime.Now).TotalDays <= 14) || ((item.AffidavitOfGoodMoralCharacterEndDate - DateTime.Now).TotalDays <= 14) || ((item.FDLEBGSEndDate - DateTime.Now).TotalDays <= 14) || ((item.JSOLocalBGSEndDate - DateTime.Now).TotalDays <= 14))
            {
            <td bgcolor="#FFC500">
                <strong>Less than 14 days</strong>
            </td>
            }

            else if (((item.DCFHippaEndDate - DateTime.Now).TotalDays <= 30) || ((item.VehicleRegistrationEndDate - DateTime.Now).TotalDays <= 30) || ((item.VehicleInsuranceCardEndDate - DateTime.Now).TotalDays <= 30) || ((item.YearlyEvaluationEndDate - DateTime.Now).TotalDays <= 30) || ((item.TargetCaseManagmentEndDate - DateTime.Now).TotalDays <= 30) || ((item.AffidavitOfGoodMoralCharacterEndDate - DateTime.Now).TotalDays <= 30) || ((item.FDLEBGSEndDate - DateTime.Now).TotalDays <= 30) || ((item.JSOLocalBGSEndDate - DateTime.Now).TotalDays <= 30))
            {
            <td bgcolor="#FFFF00">
                <strong>Less than 30 days</strong>
            </td>
            }
            else if (((item.DCFHippaEndDate - DateTime.Now).TotalDays > 30) || ((item.VehicleRegistrationEndDate - DateTime.Now).TotalDays > 30) || ((item.VehicleInsuranceCardEndDate - DateTime.Now).TotalDays > 30) || ((item.YearlyEvaluationEndDate - DateTime.Now).TotalDays > 30) || ((item.TargetCaseManagmentEndDate - DateTime.Now).TotalDays > 30) || ((item.AffidavitOfGoodMoralCharacterEndDate - DateTime.Now).TotalDays > 30) || ((item.FDLEBGSEndDate - DateTime.Now).TotalDays > 30) || ((item.JSOLocalBGSEndDate - DateTime.Now).TotalDays > 30))
            {
            <td bgcolor="#00FF00">
                <strong>Good</strong>
            </td>
            }
            else
            { 
                <td></td>
            }
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    @Html.Raw("|")
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> @Html.Raw("|")
                    <a asp-action="Certifications" asp-route-id="@item.Id">Certficications</a> @Html.Raw("|")
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
