@using Microsoft.AspNetCore.Identity
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Manage Users";

}

<h2>Manage Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Role
            </th>
            <th>
                Change Role
            </th>
            <th>
                Lock/Unlock
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            if (UserManager.GetUserId(User) != user.Id)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => user.Email)
                    </td>
                    @if (await UserManager.IsInRoleAsync(user, "Admin"))
                    {
                        <td>Admin</td>
                    }
                    else if (await UserManager.IsInRoleAsync(user, "Manager"))
                    {
                        <td>Manager</td>
                    }
                    else if (await UserManager.IsInRoleAsync(user, "User"))
                    {
                        <td>User</td>
                    }
                    <td>
                        <a asp-action="MakeUser" asp-route-id="@user.Id">User</a> @Html.Raw("|")
                        <a asp-action="MakeManager" asp-route-id="@user.Id">Manager</a> @Html.Raw("|")
                        <a asp-action="MakeAdmin" asp-route-id="@user.Id">Admin</a>
                    </td>
                    @if (await UserManager.IsLockedOutAsync(user))
                    {
                        <td>
                            <a asp-action="Lock" asp-route-id="@user.Id">Unlock</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="Lock" asp-route-id="@user.Id">Lock</a>
                        </td>
                    }
                </tr>

            }
        }
    </tbody>
</table>

